body{
    margin:0;
    display: flex;
    justify-content: center;
    align-items:center;
    height: 100vh;
}
#calculator{
    font-family: Arial, Helvetica, sans-serif;
    background-color: palevioletred;
    border-radius: 5px;
    max-width: 500px;
    overflow: hidden;


}
#me{
    width:100%;
    padding: 20px;
    font-size:5rem ;
    text-align: left;
    border: none;
    background-color: rgb(249, 208, 216);
    color: white;
    


}
#keys{
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    gap: 10px;
    padding: 25px;


}
button{
    width:100px;
    height: 100px;
    border-radius: 5px;
    border:none;
    background-color: pink;
    color: aliceblue;
    font-size: 15px;
    cursor:pointer;


}
button:hover{
    background-color: rgb(242, 149, 166);
}
.operatorbtn{
    background-color: rgb(233, 157, 233);

}
.operatorbtn:hover{
    background-color: rgb(241, 15, 241);
}